* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}
body{
    background: #00FFAB;
}
@font-face {
    font-family: 'Montserrat';
    src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');
}
.game{
    position: absolute;
    top: 80px;
    left: 37%;
    margin: auto;
    background: #122e4e;
    border-radius: 20px;
    border: 9px solid white;
    height: 720px;
    width: 480px;
}
.border{
    position: absolute;
    top: 80px;
    left: 37%;
    z-index: 2;
    margin: auto;
    border-radius: 20px;
    background: #122e4e00;
    border: 9px solid white;
    height: 720px;
    width: 480px;
}